<h1>Admin Page</h1>

<div class="container">
    <h3 class="page-header">Current Sessions</h3>
    
        <ul class="list-group">
            <% currentSessions.forEach(function (sessionItem) { %>
            
            <li class="list-group-item">
                <strong>User ID: <%= sessionItem.userid  %> || </strong>
                <strong>SessionID: <%= sessionItem.sessionid %> </strong>
                    <form method="GET" action=<%= "/adminAcess/revoke/" + sessionItem.sessionid %>>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
            </li>
                 <% }) %>
         </ul>
        
  </div>
