<!-- <div class="container">
    <h1 class="page-header">Reminders</h1>
  
      <ul class="list-group">
        <li class="list-group-item">
          <h3><strong><%= currentSessions %>: </strong></h3>
         
  
          <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
  
        </li>
      </ul>
  
  </div> -->