<!-- <div class="container">
    <h1 class="page-header">Reminders</h1>
    <form action= method="POST">
      <ul class="list-group">
        <li class="list-group-item">
          <h3><strong><%= currentSessions %>: </strong></h3>
          <button type="submit" class="btn btn-default">Revoke</button>
        </li>
      </ul>
    </form>
  </div> -->